{
    "model_path": "../modelos/bge-m3",
    "dataset_path": "../data",
    "output_dir": "../data/tokenizeddataset",
    "finetuned_path": "../finetuned",
    "itenslimit": 110,
    "max_length": 1024,
    "max_slide_windows": 0,
    "DataBaseConnectString": "server=10.1.1.95 ; port=3306  ; database=rziastudio; uid=root ; password=rzsk ;"

}